@font-face {
    font-family: workSans;
    src: url('WorkSans-Bold.woff') format('woff');
    font-weight: bold;
}
@font-face {
    font-family: workSans;
    src: url('WorkSans-Regular.woff') format('woff');
    font-weight: normal;
}
* {
    margin: 0;
    padding: 0;
}

body {
    background: url('assets/images/background-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-color: hsl(275, 100%, 97%);
    font-family: workSans;
}

#panel {
    background-color: hsl(0, 0%, 100%);
    position: relative;
    top: 140px;
    padding: 15px;
    box-sizing: border-box;
    margin: 20px;
    border-radius: 10px;
    bottom: 60px;
}

img {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin-right: 30px;
    position: relative;
    top: -4px;
} 

h1 {
    font-size: 40px;
    margin-bottom: 35px;
}
.container{
    margin: 10px 0;
    border-top: 1px solid #ccc;
}
.container:last-of-type{
    border-bottom: 1px solid #ccc;
}
.question {
    color: hsl(292, 42%, 14%);
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
}
.question:active{
    color: hsl(293, 40%, 43%);
}

.answer {
    color: hsl(292, 16%, 49%);
    margin-bottom: 32px;
    display: none;
    font-weight: normal;
}

#first {
    left: 91%;
    top: -35px;
    display: inline-block;
    position: relative;
}

#second {
    position: relative;
    left: 91%;
    top: -19px;
}

#third {
    position: relative;
    top: -19px;
    left: 91%;
}

#forth {
    position: relative;
    top: -22px;
    left: 91%;
}
span[id]{
    cursor: pointer;
}
.none{
    display: none;
}
@media screen and (min-width:375px){
    body{
        background: url('assets/images/background-pattern-desktop.svg');
        background-repeat: no-repeat;
        background-color: hsl(275, 100%, 97%);
    }
}
@media screen and (min-width:490px){
    #first{
        top: -19px;
    }
}
@media screen and (min-width:600px){
    #panel{
        max-width: 530px;
        margin: 0 auto;
    }
}